@font-face {
  font-family: "BalooBhai";
  src: url("./fonts/BalooBhai-Regular.ttf")
      format("truetype");
}
// var
$gray: #F5F5F7;

* {
  font-family: "Roboto", sans-serif;
}
img {
    width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "BalooBhai", Arial, Helvetica, sans-serif;
}
section {
    margin-top: 90px;
    margin-bottom: 90px;
}
.relative {
    position: relative;
}
h2 {
    font-size: 36px;
    margin-bottom: 32px;
}
.header {
    background-color: $gray;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    .me {
        max-height: 200px;
    }
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 16px;
        line-height: 25px;
    }
    .col-md-4:first-child, .col-md-4:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @media screen and (min-width: 576px) {
        .col-md-4:nth-child(2) {
            position: relative;
        }
        .me {
            position: absolute;
            bottom: 0;
        }
    }
}
.skill {
    &-item {
        background-color: $gray;
        border-radius: 14px;
        padding: 9px;
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        h5 {
            margin-bottom: 0;
            font-size: 16px;
        }
        p {
            margin-bottom: 0;
            font-size: 13px;
        }
    }
    &-icon {
        flex: 0 0 64px;
        width: 64px;
        height: 64px;
        border-radius: 14px;
        background-color: white;
        margin-right: 24px;
        &.fig {
            background: url(./img/do-figma.png) no-repeat center white;
        }
        &.ai {
            background: url(./img/do-ai.png) no-repeat center white;
        }
        &.pts {
            background: url(./img/do-pts.png) no-repeat center white;
        }
        &.draw {
            background: url(./img/do-draw.png) no-repeat center white;
        }
        &.html {
            background: url(./img/do-html.png) no-repeat center white;
        }
        &.js {
            background: url(./img/do-js.png) no-repeat center white;
        }
        &.wp {
            background: url(./img/do-wp.png) no-repeat center white;
        }
        &.git {
            background: url(./img/do-git.png) no-repeat center white;
        }
        &.agile {
            background: url(./img/do-agile.png) no-repeat center white;
        }
    }
    &-more {
        margin-top: 30px;
        font-size: 24px;
    }
}
.project {
    &-item {
        margin-bottom: 66px;
        overflow: hidden;
        &:hover {
            .project-img {
                transform: scale(1.1);
            }
        }
    }
    &-img {
        transition: .3s ease-in-out;
    }
    &-name {
        background: rgba($color: #000000, $alpha: .7);
        color: white;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        font-family: "BalooBhai", Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
    &-link {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
.contact {
    &-item {
        background-color: $gray;
        border-radius: 14px;
        margin-bottom: 12px;
        position: relative;
        overflow: hidden;
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: black;
            position: relative;
            z-index: 1;
            padding: 12px;
            span.bold {
                font-family: "BalooBhai", Arial, Helvetica, sans-serif;
                font-size: 18px;
            }
        }
        &:after {
            content: "";
            background: black;
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            right: 0;
            border-radius: 14px;
            bottom: 0;
            transition: .3s ease-in-out;
            transform: translateX(-100%);
        }
        &:hover {
            &:after {
                transform: translateX(0);
            }
            a {
                color: white;
            }
        }
    }
}