@font-face {
  font-family: "BalooBhai";
  src: url("./fonts/BalooBhai-Regular.ttf") format("truetype");
}

* {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "BalooBhai", Arial, Helvetica, sans-serif;
}

section {
  margin-top: 90px;
  margin-bottom: 90px;
}

.relative {
  position: relative;
}

h2 {
  font-size: 36px;
  margin-bottom: 32px;
}

.header {
  background-color: #F5F5F7;
  border-radius: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.header .me {
  max-height: 200px;
}

.header h1 {
  font-size: 36px;
}

.header p {
  font-size: 16px;
  line-height: 25px;
}

.header .col-md-4:first-child, .header .col-md-4:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 576px) {
  .header .col-md-4:nth-child(2) {
    position: relative;
  }
  .header .me {
    position: absolute;
    bottom: 0;
  }
}

.skill-item {
  background-color: #F5F5F7;
  border-radius: 14px;
  padding: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.skill-item h5 {
  margin-bottom: 0;
  font-size: 16px;
}

.skill-item p {
  margin-bottom: 0;
  font-size: 13px;
}

.skill-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  width: 64px;
  height: 64px;
  border-radius: 14px;
  background-color: white;
  margin-right: 24px;
}

.skill-icon.fig {
  background: url(./img/do-figma.png) no-repeat center white;
}

.skill-icon.ai {
  background: url(./img/do-ai.png) no-repeat center white;
}

.skill-icon.pts {
  background: url(./img/do-pts.png) no-repeat center white;
}

.skill-icon.draw {
  background: url(./img/do-draw.png) no-repeat center white;
}

.skill-icon.html {
  background: url(./img/do-html.png) no-repeat center white;
}

.skill-icon.js {
  background: url(./img/do-js.png) no-repeat center white;
}

.skill-icon.wp {
  background: url(./img/do-wp.png) no-repeat center white;
}

.skill-icon.git {
  background: url(./img/do-git.png) no-repeat center white;
}

.skill-icon.agile {
  background: url(./img/do-agile.png) no-repeat center white;
}

.skill-more {
  margin-top: 30px;
  font-size: 24px;
}

.project-item {
  margin-bottom: 66px;
  overflow: hidden;
}

.project-item:hover .project-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project-img {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.project-name {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "BalooBhai", Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.project-link {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.contact-item {
  background-color: #F5F5F7;
  border-radius: 14px;
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
}

.contact-item a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
  position: relative;
  z-index: 1;
  padding: 12px;
}

.contact-item a span.bold {
  font-family: "BalooBhai", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.contact-item:after {
  content: "";
  background: black;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  border-radius: 14px;
  bottom: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.contact-item:hover:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contact-item:hover a {
  color: white;
}
/*# sourceMappingURL=main.css.map */